.Expenses{
box-shadow: rgba(0, 22, 24, 0.35) 0px 5px 15px;
padding: 5px;
border-collapse: collapse;
border-radius: 5px;
    
}
.Expenses tr{
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.35);
}
.Expenses tr:last-child {
    box-shadow: none;
}
.Expenses td, .Expenses th{
padding: 10px 10px;
}

/* ExpenseIcon */
.ExpenseItem-Icon{
    width: 20px;
    cursor: pointer;
}

@media (hover: hover) {

    /* change filter color later */
    .ExpenseItem-Icon:hover {
        filter: invert(63%) sepia(77%) saturate(818%) hue-rotate(1deg) brightness(107%) contrast(104%);
    }
}