.Footer {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-top: 10px;
    padding: 10px 0;
    /* border-top: 2px dashed white; */
    /* color: rgb(192, 192, 192); usual gray footer color*/
    color: #e4d3d2;
}

.Footer img {
    width: 20px;
    /* filter: invert(81%) sepia(5%) saturate(8%) hue-rotate(35deg) brightness(96%) contrast(88%); usual gray footer color*/
    filter: invert(89%) sepia(11%) saturate(264%) hue-rotate(314deg) brightness(103%) contrast(79%);
}

.displayNone {
    display: none;
}

/* convert hex to CSS filter:  https://codepen.io/sosuke/pen/Pjoqqp  */