.ModalAddExpense-Form{
    background-color: white;
    border: 2px solid var(--cGray);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.ModalAddExpense-CloseModalIcon{
    width: 20px;
    align-self: flex-end;
    cursor: pointer;
}
.ModalAddExpense-InputContainer{
    display: flex;
    gap: 5px;
}
.ModalAddExpense-AddExpenseBtn{
    cursor: pointer;
}