.ModalAddExpense-Form{
    background-color: white;
    border: 2px solid var(--cGray);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ModalAddExpense-CloseModalIcon{
    width: 20px;
    align-self: flex-end;
    cursor: pointer;
}
.ModalAddExpense-InputContainer{
    display: flex;
    gap: 5px;
}
.ModalAddExpense-InputContainer input{
    flex-grow: 3;
}
.ModalAddExpense-InputContainer select {
    flex-grow: 3;
}
.ModalAddExpense-AddExpenseBtn{
    cursor: pointer;
    background-color: var(--cPurple);
    height: 25px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.modalAddExpenseHidden{
    display: none;
}
@media (hover: hover) {
    .ModalAddExpense-AddExpenseBtn:hover {
        background-color: var(--cSalmon);
    }
    .ModalAddExpense-CloseModalIcon:hover {
        filter: var(--cFilterSalmon);
    }
}