.NavBar,  .NavBar-Header{
    display: flex;
    align-items: center;
}
.NavBar {
    width: 100%;
    justify-content: space-between;
    /* background-color: aqua; */
    
}
.NavBar-Header {
    gap: 10px;
    /* background-color: brown; */
}
.NavBar-Header img {
    height: 35px;
    filter: var(--cFilterSalmon);
}
.NavBar-SettingsBtn {
    background-color: white;
    border-radius: 50px;
    height: 35px;
    color: var(--cSalmon);
}
@media (hover: hover) {
    .NavBar-SettingsBtn:hover {
        color: #000000;
    }
    .NavBar-SettingsBtn:hover img {
        filter: none;
    }
}