.Settings h2{
    margin: 20px 0;
}
.Settings section {
    margin-bottom: 20px;
}
.Settings-List {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

.Settings-ListItem {
    display: flex;
    gap: 10px;
    align-items: center;

}
.Settings-ListBullet{
    width: 5px;
    height: 5px;
    background-color: var(--cOrange);
    border-radius: 50%;
}
.Settings-Icon{
    width: 15px;
    cursor: pointer;
}
.Settings-Icon-light{
    filter: var(--cBlueLightFilter);
}

.Settings-checkboxContainer{
    display: flex;
    gap: 10px
}
.Settings-checkboxContainer>input[type="checkbox"]{
    outline: var(--cOrange);
}
.Settings-checkboxContainer>input[type="checkbox"]:checked{
    accent-color: var(--cOrange);
}

@media (hover: hover) {
    .Settings-Icon:hover {
        filter: var(--cOrangeFilter);
    }
}

/* Modals */
.modalAddGroupHidden{
    display:none;
}