.Dashboard-h2{
    margin-top: 10px;
}
.Dashboard-workspace-container{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 15px 0;
}
.Dashboard-workspace-abreviation{
    width: 55px;
    height: 45px;
    font-size: 1.5em;
    border: 2px solid var(--cBlueDark);
    border-radius: 5px;
    padding: 0 !important;
    position: relative;

}
.Dashboard-workspace-abreviation>p{
    text-align: center;
    color: var(--cBlueDark);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.Dashboard-workspace-name-container{
    min-width: 200px;
}
.Dashboard-workspace-name-container>*{
    margin: 0;
    padding:0;
    color: var(--cGray);
}