.AddButton{
    margin: 10px 0;
    padding: 5px 10px;
    border: none;
    border: 2px solid var(--cOrange);
    background-color: var(--cOrange);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}
.AddButton img{
    width: 15px;
}

@media (hover: hover) {
    .AddButton:hover {
        border-color: var(--cOrangeDarker);
        box-shadow: var(--cBoxShadowOrangeBtn);
    }
}