.Common-hidden {
    display: none;
}

/* Should be used in all main components inside the Main component*/
.Common-padding {
    padding-left: 10px;
    padding-right: 10px;
}

/* Should be used in main area between Nav and Footer */
.Common-expand-flex-1 {
    flex: 1;
}

/* Page Titles and Subtitles */
h2 {
    font-weight: bold;
    color: var(--cBlueDark);
    margin: 20px 0;
}

h3 {
    font-size: 1.5rem;
    color: var(--cBlueDark);
    margin-bottom: 15px;
}

h4 {
    font-size: 1.4rem;
    font-weight: bold;
    /* color: var(--cBlueDark); */
    margin-bottom: 10px;
}

/* Paragraphs */
/* Gray P tag */
.Common-PSInfo-P {
    color: var(--cMidGray);
}

/* Sections */

section {
    margin-bottom: 20px;
}

/* Buttons */
.Common-button-primary,
.Common-button-secondary,
.Common-button-tertiary,
.Common-button-danger {
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid;
}

.Common-button-primary {
    border: 2px solid var(--cOrange);
    background-color: var(--cOrange);
}

.Common-button-secondary {
    background-color: var(--cBlueDark);
    border-color: var(--cBlueDark);
    color: var(--cBlueLight);
}

.Common-button-tertiary {
    background-color: var(--cBlueLight);
    border-color: var(--cBlueDark);
    color: var(--cBlueDark);
}

.Common-button-danger {
    background-color: var(--cRed);
    border-color: var(--cRed);
    color: var(--cRedBackground);
}

.Common-button-primary:disabled,
.Common-button-secondary:disabled,
.Common-button-tertiary:disabled,
.Common-button-danger:disabled {
    cursor: not-allowed;
    background: #ccc;
    border-color: #ccc;
    color: var(--cGray);
}

@media (hover: hover) {
    .Common-button-primary:hover {
        border-color: var(--cOrangeDarker);
        box-shadow: var(--cBoxShadowOrangeBtn);
    }

    .Common-button-secondary:hover,
    .Common-button-tertiary:hover {
        border-color: var(--cBlueDarker);
        box-shadow: var(--cBoxShadowBlueBtn);
    }

    .Common-button-danger:hover {
        border-color: var(--cRedDarker);
        box-shadow: var(--cBoxShadowRedBtn);
    }

    .Common-button-primary:hover:disabled,
    .Common-button-secondary:hover:disabled,
    .Common-button-tertiary:hover:disabled,
    .Common-button-danger:disabled {
        border-color: rgb(78, 78, 78);
        box-shadow: var(--cBoxShadowBlueBtn);
    }
}

/* Icons */

.Common-Icon {
    width: 15px;
    cursor: pointer;
}

.Common-Icon-light {
    filter: var(--cBlueLightFilter);
}

@media (hover: hover) {
    .Common-Icon:hover {
        filter: var(--cOrangeFilter);
    }
}



/* Tables */

/* Information tables */
/* Information tables are those with descriptions, like Name: YWQ */
/* They do not look like tables */
/* Example: User Settings -- Account */

.Common-InfoTable td {
    padding: 0 0 0 10px;
}

/* Table */
.Common-Table {
    border: 2px solid var(--cSuperLightGray);
}

.Common-Table tr:nth-child(even) {
    background-color: var(--cSuperLightGray);
}

.Common-Table-YellowDiv {
    width: 2.5px;
    height: 20px;
    background-color: var(--cOrange);
    margin-left: -5px;
}

.Common-Table td {
    font-size: 0.9rem;
}

.Common-Table th,
td {
    padding: 5px;
}

.Common-Table th {
    color: var(--cBlueDark);
    font-size: 0.9rem;
    padding-right: 10px;
}

.Common-Table-tdBullet {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
    padding-right: 10px;
}

.Common-Table-tdInfo {
    text-align: center;
    color: var(--cMidGray);
}

.Common-Table-tdIcon {
    padding-left: 15px;
}