/* EXPENSES */
.Expenses{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    /* background-color: rebeccapurple; */
}

/* EXPENSES FILTER */
.ExpensesFilter{
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.ExpensesFilter-Header{
    display: flex;
    gap: 10px;
    padding-right: 10px;
}
.ExpensesFilter-Header div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-right: none;
    padding: 0 10px;
}
.ExpensesFilter-Header div img {
    width: 15px;
}
.ExpensesFilter-Header div h2 {
    font-size: 1.15em;
    margin:0;
}
.ExpensesFilter-Year-Btn{
    margin-left: auto;
}
.ExpensesFilter-Form{
    border: 3px solid var(--cBlueDark);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
}
.ExpensesFilter-Form fieldset{
    border: none;
    border: 2px solid #eee;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 5px 5px 0;
    display: flex;
    gap: 15px;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    margin-bottom: 5px;
}
.ExpensesFilter-Form fieldset div{
    padding-left: 10px;
}
@media only screen and (min-width: 800px){
    .ExpensesFilter-Form fieldset{
        display: grid;
        grid-template-columns: 2fr repeat(3, 25%);
    }
    .ExpensesFilter-Form fieldset div {
        padding-left: 0;
    }
}
.ExpensesFilter-Form fieldset legend{
    padding: 0 10px;
    color: var(--cBlueLight);
    font-size: 1em;
}
.ExpensesFilter-Form fieldset div label {
    margin-right: 5px;
}
.ExpensesFilter-Form fieldset div input {
    border: none;
    border-bottom: 2px solid var(--cLightGray);
}
.ExpensesFilter-Form fieldset div select {
    border: none;
    border: 2px solid var(--cLightGray);
    border-radius: 5px;
}
.ExpensesFilter-ApplyFilterBtn{
    margin-left: 5px;
}
/* Filter open only */
.ExpensesFilter-Header-Open{
    border: 3px solid var(--cBlueDark);
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: space-between;
}
.ExpensesFilter-Header-Open div {
    border: none;
}
.ExpensesFilter-Header-Open .ExpensesFilter-OpenFilterMenuBtn img{
    transform: rotate(180deg);
}

/* Filter closed only */
.ExpensesFilter-FormClosed{
    display: none;
}

/* ************************************************************** */
/* EXPENSES TABLE */
.ExpensesTable {
    width: 100%;
}

/* EXPENSES ITEM -- ICONS */
.ExpenseItem-Icon{
    width: 20px;
    cursor: pointer;
}

@media (hover: hover) {
    .ExpenseItem-Icon:hover {
        filter: var(--cOrangeFilter);
    }
}

/* TABLE FOR DESKTOP VIEW */
@media only screen and (min-width: 800px) {
    .ExpensesTable {
        box-shadow: rgba(0, 22, 24, 0.35) 0px 5px 15px;
        padding: 5px;
        border-collapse: collapse;
        border-radius: 5px;

    }

    .ExpensesTable tr {
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.35);
    }

    .ExpensesTable tr:last-child {
        box-shadow: none;
    }

    .ExpensesTable thead .ExpensesTable-Header {
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.541);
    }

    .ExpensesTable td,
    .ExpensesTable th {
        padding: 10px 10px;
    }
}

/* TABLE FOR MOBILE  VIEW */
/* Source: https: //elvery.net/demo/responsive-tables/ from https: //medium.com/appnroll-publication/5-practical-solutions-to-make-responsive-data-tables-ff031c48b122*/
@media only screen and (max-width: 800px) {
    .ExpensesTable{
        width: 100%;
    }

    /* Force table to not be like tables anymore */
    .ExpensesTable table,
    .ExpensesTable thead,
    .ExpensesTable tbody,
    .ExpensesTable th,
    .ExpensesTable td,
    .ExpensesTable tr {
        display: block;
    }

    .ExpensesTable tbody{
        background-color: none;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    .ExpensesTable thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .ExpensesTable tr {
        /* border: 1px solid #ccc; */
        margin-bottom: 20px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .ExpensesTable td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding: 10px 5px 10px 50%;
        /* padding-left: 50%; */
        white-space: normal;
        text-align: left;
    }

    .ExpensesTable td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 10px;
        left: 10px;
        width: 60%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
    /* .ExpensesTable tr,
    .ExpensesTable td {
        padding: 10px;
    } */

    /*
	Label the data
	*/
    .ExpensesTable td:before {
        content: attr(data-title);
    }
}