/* Used in Routes */
.Main {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.Main-SettingsBtn {
    color: var(--cSalmon);
    background-color: white;
    border-color: var(--cSalmon);
}
.Main-SignUp-Hidden {
    display: none;
}
.Main-LogIn-Hidden {
    display: none;
}
.Main-Settings-Hidden {
    display: none;
}

.Main-Expenses-Hidden {
    display: none;
}