.WorkspaceSettings h2{
    margin: 20px 0;
}
.WorkspaceSettings section {
    margin-bottom: 20px;
}
.WorkspaceSettings-List {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

.WorkspaceSettings-ListItem {
    display: flex;
    gap: 10px;
    align-items: center;

}
.WorkspaceSettings-ListBullet{
    width: 5px;
    height: 5px;
    background-color: var(--cOrange);
    border-radius: 50%;
}
.WorkspaceSettings-Icon{
    width: 15px;
    cursor: pointer;
}
.WorkspaceSettings-Icon-light{
    filter: var(--cBlueLightFilter);
}

.WorkspaceSettings-checkboxContainer{
    display: flex;
    gap: 10px
}
.WorkspaceSettings-checkboxContainer>input[type="checkbox"]{
    outline: var(--cOrange);
}
.WorkspaceSettings-checkboxContainer>input[type="checkbox"]:checked{
    accent-color: var(--cOrange);
}

@media (hover: hover) {
    .WorkspaceSettings-Icon:hover {
        filter: var(--cOrangeFilter);
    }
}

/* Modals */
.modalEditWorkspaceHidden {
    display: none;
}
.modalAddGroupHidden{
    display:none;
}
.modalAddAccountHidden {
    display: none;
}
.modalEditGroupHidden {
    display: none;
}
.modalEditAccountHidden {
    display: none;
}
.modalDeleteGroupHidden {
    display: none;
}
.modalDeleteAccountHidden {
    display: none;
}