.WorkspaceSettings h2 {
    margin: 20px 0;
}

.WorkspaceSettings section {
    margin-bottom: 20px;
}

.WorkspaceSettings-WorkspaceInfoTable td {
    padding-left: 10px !important;
}

/* Table per settings  */
.WorkspaceSettings-Table {
    border: 2px solid var(--cSuperLightGray);
}

.WorkspaceSettings-Table tr:nth-child(even) {
    background-color: var(--cSuperLightGray);
}

.WorkspaceSettings-Table-YellowDiv {
    width: 2.5px;
    height: 20px;
    background-color: var(--cOrange);
    margin-left: -5px;
}

.WorkspaceSettings-Table td {
    font-size: 0.9rem;
}

.WorkspaceSettings-Table th,
td {
    padding: 5px;
}

.WorkspaceSettings-Table th {
    color: var(--cBlueDark);
    font-size: 0.9rem;
    padding-right: 10px;
}

.WorkspaceSettings-Table-tdBullet {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
    padding-right: 10px;
}

.WorkspaceSettings-Table-tdInfo {
    text-align: center;
    color: var(--cMidGray);
}

.WorkspaceSettings-Table-tdIcon {
    padding-left: 15px;
}

/* List (see if necessary... */

.WorkspaceSettings-List {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.WorkspaceSettings-ListItem {
    display: flex;
    gap: 10px;
    align-items: center;

}

.WorkspaceSettings-ListBullet {
    width: 5px;
    height: 5px;
    background-color: var(--cOrange);
    border-radius: 50%;
}

.WorkspaceSettings-Icon {
    width: 15px;
    cursor: pointer;
}

.WorkspaceSettings-Icon-light {
    filter: var(--cBlueLightFilter);
}

.WorkspaceSettings-checkboxContainer {
    display: flex;
    gap: 10px
}

.WorkspaceSettings-checkboxContainer>input[type="checkbox"] {
    outline: var(--cOrange);
}

.WorkspaceSettings-checkboxContainer>input[type="checkbox"]:checked {
    accent-color: var(--cOrange);
}

@media (hover: hover) {
    .WorkspaceSettings-Icon:hover {
        filter: var(--cOrangeFilter);
    }
}

/* Modals */
.modalEditWorkspaceHidden {
    display: none;
}

.modalAddGroupHidden {
    display: none;
}

.modalAddAccountHidden {
    display: none;
}

.modalAddTagHidden {
    display: none;
}

.modalAddExpenseCategoryHidden {
    display: none;
}

.modalEditGroupHidden {
    display: none;
}

.modalEditAccountHidden {
    display: none;
}

.modalEditExpenseCategoryHidden {
    display: none;
}

.modalDeleteGroupHidden {
    display: none;
}

.modalDeleteAccountHidden {
    display: none;
}

.modalDeleteTagHidden {
    display: none;
}

.modalDeleteExpenseCategoryHidden {
    display: none;
}

.modalSetExpenseNumberingHidden {
    display: none;
}